.my-splitter {
    position: static !important;
}

.leftPane,
.rightPane {
    padding: 10px;
}

.dialog-content {
    display: none;
}

.pull-right {
    float: right;
}

.build-grid-container .grid {
    position: absolute;
}

.version-picker {
    display: flex;
    flex-direction: row;
}

.version-picker div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
}

.version-picker input {
    width: 50px;
}

.margin-top {
    margin-top: 5px;
}

#manage-release {
    display: none;
}

legend {
    margin-top: 10px;
}

.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    border-bottom: 1px solid #c8c8c8;
}

.table th,
td {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2
}

.buttons-box {
    margin-top: 10px;
}

.rightPane .gitflow-fieldset {
    border: 1px solid #c8c8c8;
    padding: 5px;
}

.gitflow-fieldset legend {
    padding: 5px !important;
}