.my-splitter {
    position: static !important;
}

.leftPane,
.rightPane {
    padding: 10px;
}

.dialog-content {
    display: none;
}

.pull-right {
    float: right;
}

.build-grid-container .grid {
    position: absolute;
}